include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body.registration-page
		include ../common/registration


		include ../common/modal
	// END body