.action {
    position: relative;
    background: $accent;
    color: #fff;
    &:after {
        content: "////////////////";
        position: absolute;
        bottom: 0;
        left: -57px;
        color: #fff;
        font-size: 129px;
        font-weight: 500;
        -webkit-transform: skew(-27deg);
        -ms-transform: skew(-27deg);
        transform: skew(-27deg);
        letter-spacing: -9px;
    }
}