.consult {
    background: #f9fbfc;
    padding: 105px 0 190px;

    @media screen and (max-width: 890px) {
        padding: 40px 0;
    }
    &__body {
        display: flex;
    }
    &__form {
        width: 60%;
    }
    &__title {
        font-size: 35px;
        line-height: 45px;
        color: $accent;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #405646;
        max-width: 495px;
        margin-bottom: 87px;
    }
    &__pic {
        width: 52%;
        position: relative;
        &-wrap {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 27%;
            z-index: 1;
            &:before {
                content: "";
                position: absolute;
                bottom: -5%;
                left: 45%;
                width: 62%;
                height: 91%;;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff874c' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='2'/%3E%3Ccircle cx='13' cy='13' r='2'/%3E%3C/g%3E%3C/svg%3E");
                z-index: -1;
            }
            &:after {
                content: "";
                position: absolute;
                top: -5%;
                left: 45%;
                width: 62%;
                height: 50%;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fdfcff' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='2'/%3E%3Ccircle cx='13' cy='13' r='2'/%3E%3C/g%3E%3C/svg%3E");
                z-index: -1;
            }
        }
        img {
            max-width: 100%;
        }
    }
    input {
        background: #fff;
        padding: 30px 25px;
        border: none;
    }
    label+label {
        margin-left: 20px;
    }
}
.form-line {
    margin-bottom: 60px;
}
.form-line-wrap {
    display: flex;
    align-items: center;
}
.agree-line {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    max-width: 200px;
    margin-left: 50px;
    span {
        color: $accent;
    }
    input {
        display: none;
        &:checked+label:before {
            background: $accent;
        }
        &:checked+label:after {
            content: "";
            position: absolute;
            left: 0;
            width: 12px;
            height: 6px;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            top: 46%;
            -webkit-transform: translate(0,-50%) rotate(-45deg);
            -ms-transform: translate(0,-50%) rotate(-45deg);
            transform: translate(0,-50%) rotate(-45deg);
        }
    }
    label {
        position: relative;
        display: block;
        padding-left: 27px;
        @media screen and (max-width: 580px) {
            text-align: left;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            width: 18px;
            height: 18px;
            border: none;
            background: #fff;
        }
    }
        
}