.home {
    position: relative; 
    padding-bottom: 61px;
    @media screen and (max-width: 1660px) {
        overflow: hidden;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 34%;
        height: 100%;
        background: $green;
    }

    &__wrap {
        position: relative;
        background: url('../img/home__bg.jpg') no-repeat;
        background-position-y: bottom;
        padding: 81px 0 202px;
        @media screen and (max-width: 1660px) {
            padding-bottom: 100px;
        }
        @media screen and (max-width: 580px) {
            background-color: #fff;
            padding: 40px 0;
        }
        &:before {
            content: "";
            position: absolute;
            top: 80px;
            left: -100px;
            width: 20%;
            height: 319px;
            background: url('../img/dots1.png');
            @media screen and (max-width: 1660px) {
                top: auto;
                bottom: 0;
            }
        }
        &:after {
            content: "////////////////";
            position: absolute;
            bottom: -66px;
            left: -57px;
            color: $accent;
            font-size: 129px;
            font-weight: 500;
            transform: skew(-27deg);
            letter-spacing: -9px;
            @media only screen and (max-width: 684px) {
                content: none;
            }
        }
    }
    .wrap {
        display: flex;
        @media screen and (max-width: 580px) {
            flex-wrap: wrap;
        }
    }
    &__body {
        max-width: 698px;
        padding-right: 20px;
        @media screen and (max-width: 580px) {
            display: flex;
            flex-direction: column;
           justify-content: center;
           padding-right: 0;
           padding-bottom: 40px;
        }
    }
    &__pre {
        font-size: 18px;
        line-height: 26px;
        font-weight: 200;
        margin-bottom: 73px;
        @media screen and (max-width: 580px) {
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 1.2;
        }

    }

    &__title {
        max-width: 708px;
        font-size: 53px;
        line-height: 70px;
        font-weight: 800;
        margin-bottom: 60px;
        color: $accent;
        text-transform: uppercase;
        margin-left: -34px;
        @media screen and (max-width: 1660px) {
            margin-left: 0;
            font-size: 45px;
            line-height: 1.2;
        }
        @media screen and (max-width: 580px) {
            font-size: 24px;
        }
    }
    &__subtitle {
        font-size: 30px;
        line-height: 35px;
        font-weight: 700;
        margin-bottom: 29px;
        color: $green;
        @media screen and (max-width: 1660px) {
            font-size: 28px;
            line-height: 1.2;
        }
        @media screen and (max-width: 580px) {
            font-size: 21px;
        }
    }


    &__btn {
        display: flex;
        align-items: center;
        @media screen and (max-width: 665px) {
            flex-direction: column;
        }
        .btn {
            @media screen and (max-width: 580px) {
                width: 242px;
                margin: 0 auto;
                padding: 12px 10px;
                font-size: 12px;
            }
        }
    }
    &__column {
        max-width: 36%;
        display: flex;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 580px) {
            max-width: none;
            width: 100%;
            padding-top: 250px;
        }
        &:before {
            content: "";
            position: absolute;
            top: -200px;
            left: -50px;
            width: 298px;
            height: 199px;
            background: url('../img/dots2.png');
            z-index: -1;
            @media only screen and (max-width: 684px) {
                left: auto;
                right: 0;
            }
            @media screen and (max-width: 580px) {
                content: none;
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -203px;
            left: 0;
            width: 691px;
            height: 755px;
            background: url('../img/home__foto.png') no-repeat;
            z-index: -1;
            @media screen and (max-width: 1660px) {
                width: 100%;
                height: 100%;
                background-size: contain;
                bottom: -50px;
            }
            @media screen and (max-width: 580px) {
                height: 400px;
                background-position-x: center;
                top: 0;
                left: 14px;
                bottom: auto;
            }
        }
    }
    &__text {
        margin-top: auto;
        text-align: right;
        font-size: 18px;
        line-height: 26px;
        padding: 33px 57px;
        background: #fff;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 1115px) {
            font-size: 14px;
            line-height: 1.2;
            padding: 20px;
        }
        @media screen and (max-width: 580px) {

        }
        span {
            font-weight: 700;
            padding-left: 4px;
        }
    }
}