.founder {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        top: -25px;
        left: 0;
        width: 40%;
        height: 100%;
        background: $accent;

        @media screen and (max-width: 679px) {
            width: 100%;
            height: 310px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: -25px;
        right: 0;
        width: 60%;
        height: 100%;
        background: #f8f8ff;
        z-index: -1;

        @media screen and (max-width: 679px) {
            width: 100%;
        }
    }
    &__wrap {
        position: relative;
        padding-bottom: 25px;
        &:after {
            content: "///////////////";
            position: absolute;
            top: 143px;
            right: -261px;
            color: #fad5c8;
            font-size: 129px;
            font-weight: 800;
            transform: rotate(90deg) skew(-27deg);
            letter-spacing: -10px;
            @media screen and (max-width: 1239px) {
                font-size: 110px;
            }
        }
    }
    .wrap {
        display: flex;

        @media screen and (max-width: 679px) {
            flex-wrap: wrap;
        }
    }
    &__video {
        width: 36%;
        display: flex;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: -23px;
            right: 0;
            width: 837px;
            height: 710px;
            background: url('../img/about-bg.png') no-repeat;
            @media screen and (max-width: 1500px) {
                width: 47vw;
                height: 100%;
                background-size: contain;
                background-position-y: bottom;
            }

            @media screen and (max-width: 679px) {
                bottom: 0;
                width: 100%;
                background-position-x: left;
            }

            @media screen and (max-width: 440px) {
                background-position: left -50px bottom;
            }
        }
        @media screen and (max-width: 679px) {
            width: 100%;
            padding: 180px 0 40PX;
        }
    }
    &__link {
        font-size: 18px;
        position: relative;
        max-width: 240px;
        margin: auto;
        padding: 10px 10px 10px 80px;
        color: #fff;
        text-decoration: underline;
        @media screen and (max-width: 1460px) {
            margin-bottom: 30px;
            margin-right: 0;
        }

        @media screen and (max-width: 679px) {
            margin-right: 50px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 67px;
            height: 67px;
            border-radius: 50%;
            background: #fff;
        }
        &:after {
            content: "";
            position: absolute;
            top: 16px;
            left: 24px;
            width: 0;
            height: 0;
            border-left: 23px solid #eebc8a;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
        }
    }
    &__body {
        width: 64%;
        padding: 10.5% 2% 7% 12.5%;
        @media screen and (max-width: 1500px) {
            padding: 6% 6% 4.5% 6%;
        }
        @media screen and (max-width: 1239px) {
            padding: 4% 0% 1% 6%;
            width: 60%;
        }
        @media screen and (max-width: 679px) {
            width: 100%;
        }

        .title {
            text-align: left;
        }
    }
    &__subtitle {
        font-size: 18px;
        line-height: 45px;
        margin-bottom: 60px;
        @media screen and (max-width: 1065px) {
            margin-bottom: 25px;
            line-height: 1.2;
            margin-top: 10px;
        }
    }
    &__item {
        margin-bottom: 26px;
        position: relative;
            padding-left: 30px;
            span {
                font-weight: 700;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $accent;
                @media screen and (max-width: 1065px) {
                    top: 8px;
                }
            }
    }

}