.result {
    position: relative;
    padding: 150px 0 180px;
    &:after {
        content: "////////////////";
        position: absolute;
        bottom: 23px;
        right: 361px;
        color: #ff874c;
        font-size: 101px;

        font-weight: 600;
        transform: skew(-27deg);
        letter-spacing: -2px;
    }
    .title {
        margin-bottom: 103px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__item {
        width: 25%;
        text-align: center;
        margin-bottom: 65px;
    }
    &__img {
        width: 83px;
        margin: 0 auto 18px;
        img {
            width: 100%;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 26px;
        span {
            display: block;
            font-weight: 700;
        }
    }
    &__btn {
        text-align: center;
    }
}