.footer {
    padding: 30px 0 25px;
    background: #f9fbfc;
    a {
        display: block;
        text-decoration: underline;
    }
    &__item {
        font-size: 14px;
        line-height: 18px;

        @media screen and (max-width: 878px) {
            width: 25%;
            padding-right: 10px;
        }
        @media screen and (max-width: 653px) {
            width: 50%;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
            text-align: center;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        font-weight: 200;
        font-size: 12px;
        line-height: 16px;
        align-items: center;
        @media screen and (max-width: 820px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 580px) {
            font-size: 10px;
            line-height: 16px;
        }

    }
    &__soc {
        display: flex;
        @media screen and (max-width: 480px) {
            justify-content: center;
        }
        a+a {
            margin-left: 14px;
        }
        a:hover {
            opacity: 0.6;
        }
    }
    // &__logo {
    //     display: inline-block;
    //     width: 56px;
    //     margin-left: 20px;
    //     @media screen and (max-width: 580px) {
    //         width: 41px;
    //     }
    //     &:hover {
    //         opacity: 0.6;
    //     }

    //     img {
    //         width: 100%;
    //     }
    // }

    // &__dev {
    //     display: flex;
    //     align-items: center;
    //     flex-grow: 1.1;
    //     @media screen and (max-width: 580px) {
    //         justify-content: center;
    //     }
        
    // }
}
