.pay {
    &-page {
        min-height: 100vh;
    }
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../img/pay-bg.jpg') no-repeat;
    background-position: center;
    color: #fff;
    &>.wrap {
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .footer {
        margin-top: auto;
        background: transparent;
    }
    &__title {
        font-size: 45px;
        line-height: 61px;
        text-align: center;
        font-weight: 700;
        margin-top: 20px;
        @media screen and (max-width: 479px) {
            font-size: 40px;
        }
    }
    &__img {
        @media screen and (max-width: 479px) {
            max-width: 100px;
            margin-top: 20px;
            img {
                width: 100%;
            }
        }
    }
}