
@import "tools/_normalize.scss";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
* {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	color: $text;
	@media screen and (max-width: 1065px) {
		font-size: 12px;
		line-height: 1.6;
	}
	input, textarea {
		border: none;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
	input {
        background: #fff;
        padding: 30px 25px;
        border: none;
        @media screen and (max-width: 1115px) {
            padding: 15px 10px;
        }
    }
    label+label {
		margin-left: 20px;
	}
}


.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.wrap {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	@media screen and (max-width: 1190px) {
	  padding: 0 15px;

	}
}
a {
	text-decoration: none;
	color: $text;
	-webkit-transition: all.6s ease; 
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease; 
	-o-transition: all.6s ease; 
	transition: all.6s ease;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		-webkit-transition: all.1s ease; 
		-moz-transition: all.1s ease;
		-ms-transition: all.1s ease; 
		-o-transition: all.1s ease; 
		transition: all.1s ease;
	};
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.title {
	font-weight: 700;
	font-size: 35px;
	line-height: 45px;
	text-align: center;

	@media screen and (max-width: 820px) {
		font-size: 26px;
		line-height: 30px;
	}
}
// .subtitle {
// 	font-size: 12px;
// 	color: #000;
// }
.btn {
	position: relative;
	display: inline-block;
	font-weight: 700;;
	font-size: 18px;
	line-height: 27px;
	padding: 20px 20px;
	transition: 0.5s;
	cursor: pointer;
	color: #fff;
	background: $accent;
	min-width: 260px;
	text-align: center;
	z-index: 1;
	border-radius: 5px;
	@media screen and (max-width: 580px) {
		min-width: 220px;
		padding: 12px 45px;
	}

	&:hover, &:active {
		background: #ff9866;
	}


}
button.btn {
	padding: 0;
	border: none;
	a {
		color: #fff;
		padding: 20px 45px;
		display: block;
		@media screen and (max-width: 580px) {
			padding: 15px 10px;
			font-size: 15px;
		}
	}
}

.link {
	font-size: 18px;
	line-height: 22px;
	text-decoration: underline;
	color: $accent;
	&:hover {
		opacity: 0.8;
	}
}
.form-line {
	@media only screen and (max-width: 479px) {
		label {
			display: block;
			input {
				width: 100%;
			}
			&+label {
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}
}

.body-modal-open {
	height: 100vh;
	overflow: hidden;
	padding-right: 17px;
}
.desctop-br {
	@media screen and (max-width: 960px) {
		display: none;
	}
}

@import "sections/header"; 
@import "sections/1home";
@import "sections/2achievements";
@import "sections/3whom";
@import "sections/4dream";
@import "sections/5advantages";
@import "sections/6founder";
@import "sections/7how";
@import "sections/8modules";
@import "sections/9result";
@import "sections/10cite";
@import "sections/11packages";
@import "sections/12institutions";
@import "sections/13about";
@import "sections/14action";
@import "sections/15contact";

@import "sections/modal";

@import "sections/footer"; 

@import "media"; // Always at the end