section.institutions
    .wrap
        .title Заклади, які відкрили наші випускники
        .institutions__slider.owl-carousel
            .institutions__item-wrap
                .institutions__item
                    .institutions__title Вікторія Островська
                    .institutions__subtitle Власниця дитячого арт-центру Долоньки клаб
                    .institutions__text Вже три роки працює мій садок, постійно відкриваємо нові напрямки, але завжди вдячна Галині, що допомогла мені у найголовнішому і найважчому - зробити перший крок. І, звісно, час від часу, у складних ситуаціях і бізнесі, завжди знаю, що можу звернутися до Галини за кваліфікованою допомогою.
                    a(href="http://www.dolonkiclub.com").institutions__link dolonkiclub.com
            .institutions__item-wrap
                .institutions__item
                    .institutions__title Ольга Есмонт
                    .institutions__subtitle Власниця HollyClub
                    .institutions__text Спасибо большое организаторам и спикерам интенсива "Мій бізнес - успішний дитячий садок". Несмотря на то, что я занимаюсь детским бизнесом уже 4,5 года, было очень интересно и полезно. Увидела картину в целом со стороны, услышала для себя много полезных лайфхаков. Уверена, что полученная информация станет трамплином для очередного прыжка в развитии моего детского сада.
                    a(href="http://hollyclub.com.ua/").institutions__link hollyclub.com.ua
            .institutions__item-wrap
                .institutions__item
                    .institutions__title Ольга Фофанова
                    .institutions__subtitle Власниця дитячого простору Дім чудес
                    .institutions__text Я-власниця дитячих приватних садочків. Відвідую багато семінарів в цьому напрямку. Галина Шостак, безперечно, дуже професійний консультант. Маю з чим порівняти. Дуже задоволена її роботою та формою подачі матеріалу!!! Радію, що познайомилась. Всім рекомендую її семінари та курси!!!
                    a(href="https://www.facebook.com/DimChudes.if").institutions__link-img
                        img(src="img/icons/instagram.svg", alt="instagram")
            .institutions__item-wrap
                .institutions__item
                    .institutions__title Наталія Ягнюк
                    .institutions__subtitle на етапі відкриття свого дитячого закладу мрії
                    .institutions__text Галина є дуже радісною і світлою людиною, яка з легкістю подає зовсім не легкий матеріал. Завдяки своєму досвіду і постійному саморозвитку іде в ногу із часом, і навіть, намагається зазирнути у майбутнє. Для мене - це талановита особистість, тому що в неї є дар складні речі донести простими і зрозумілими словами. Дуже рекомендую курси з управління персоналом у дитячому проекті та мій дитячий заклад мрії. Змістовні та зрозумілі. Домашні завдання до курсу спонукають вас розібратися із темами, виправити помилки, а саме головне усвідомити, що ви не самотні, нас багато і ми разом!
            .institutions__item-wrap
                .institutions__item
                    .institutions__title Алла Халецька
                    .institutions__subtitle засновник і керівник студії розвитку дитини "Школа-малишка"
                    .institutions__text Дякую Галині за змістовнi та цікавi вебінари та курси з відкриття та особливостях роботи дитячого садочку! Вся iнформацiя по сутi та систематизована. Все чітко, по пунктах, з морем прикладів із свого досвіду, що є надзвичайно цінним!!!! Багато на що звернула увагу у своїй роботi як керiвника. Дякую, що дiлитеся досвiдом та знаннями.
                    a(href="https://www.facebook.com/shkola.malushka/").institutions__link-img
                        img(src="img/icons/facebook.svg", alt="facefook")
            .institutions__item-wrap
                .institutions__item
                    .institutions__title Анна Бережецька
                    .institutions__subtitle Засновниця і керівник школи Spring up
                    .institutions__text Дякую за корисний інтенсив! Ви – 100% команда мотивуючих професіоналів, люблячих свою справу. Цікава форма подачі матеріалу, індивідуальний підхід і власні «секретики» - без сумніву Ваш здобуток.На тренінгу отримала масу нових знань та інструментів. Познайомилась з цікавими особистостями та корисно провела час). Інтенсив буде однаково корисним як для новачків, які тільки планують розпочати бізнес, так і для власників, вже працюючих проектів. А якщо Ви знаходитесь на етапі запуску і втомилися від вибору кольору фарби, розрахунку висоти підвіконня і розеток, спілкування з підрядниками, то Вам обов`язково сюди))) Ще раз дякую Вам!!!
                    a(href="https://www.facebook.com/SpringUp.bsp/").institutions__link-img
                        img(src="img/icons/facebook.svg", alt="facefook")
