section.about
    .wrap
        .about__title «Мій бізнес мрії» — це 
        .about__items
            .about__item
                .name 
                    span Без води
                .about__text Структуровані практичні уроки <span class="desctop-br"><br></span> в яких 50% теорії та 50% практики
            .about__item
                .name 
                    span 6 уроків та 6 модулів
                .about__text Які можна переглянути<span class="desctop-br"><br></span> в будь-який момент
            .about__item
                .name 
                    span Довічній доступ
                .about__text До всіх матеріалів програми<span class="desctop-br"><br></span> та груп в Facebook і Telegram 
            .about__item
                .name 
                    span Корисні матеріали
                .about__text А також документи, шаблони, анкети, <span class="desctop-br"><br></span> чек-листи та домашні завдання
            .about__item
                .name 
                    span Навчання онлайн
                .about__text Гнучкий графік, постійна <span class="desctop-br"><br></span> підтримка і корисне спілкування
 
            .about__item
                .name 
                    span Сильне оточення
                .about__text Спільнота людей зі спільними <span class="desctop-br"><br></span> цінностями та інтересамии 