section.achievements
    .wrap
        .achievements__items
            .achievements__item
                .achievements__num 01
                .achievements__text Онлайн-програма, в якій детально <span class="desctop-br"><br></span>пояснюється, що і як робити, <span class="desctop-br"><br></span>та надаються всі необхідні документи
            .achievements__item
                .achievements__num 02
                .achievements__text Перші результати вже після першого уроку
            .achievements__item
                .achievements__num 03
                .achievements__text Більше 20 успішних дитячих освітніх центрів вже відкриті учнями Галини