section.whom
    .wrap
        .whom__items
            .whom__item
                .whom__title Лише починаєте?
                ul.whom__list
                    li Хочете відкрити дитячий садок, центр або школу, але невпевненість, брак знань і досвіду не дають вам почати?
                    li Шукали і не знайшли дитячого закладу, що вам подобається і зрозуміли, що створите для своєї дитини ідеальний дитячий садок?
                    li Працюєте “на дядька” цілими днями, а мрієте про власний бізнес? 
                    li Уже давно думаєте про дитячий центр чи школу, та потрібен останній чарівний поштовх? Або наставник, з яким море по коліно і гори по плече?
            .whom__item
                .whom__title Вже працюєте?
                ul.whom__list
                    li Маєте власний дитячий заклад, який забирає весь час і сили, та ще, буває, доводиться додавати власні гроші “на зарплату”?
                    li Прагнете перетворити своє “хобі” в дитячий сфері в прибуткову компанію?
                    li Готові до оптимізації процесів та виведення компанії на новий рівень? Потрібні лише корисні знання від практиків саме з цієї сфери.
                    li Хочете більше часу приділяти собі, сім’ї або іншим проєктам, але ніяк не вийдете з операційної діяльності?
                    li Словосполучення “системна компанія” звучить для вас як недосяжна мета?
