section.dream
    .dream__wrap
        .wrap
            .dream__body
                .dream__title Мій бізнес мрії
                .dream__subtitle Це не просто найбільша база практичних і структурованих знань від команди фахівців, які пройшли шлях від ідеї до її реалізації. 
                .dream__text Це можливість "за руку" зі справжніми практиками отримати свій власний успішний досвід і заощадити величезну кількість часу, нервів і грошей.