section.how
    .wrap
        .how__sidebar
            .how__items
                .how__item
                    .how__icon
                        img(src="img/icons/list.svg", alt="list")
                    .how__about
                        .name.active
                            span Кількість модулів
                        div 6 модулів на різні теми 
                .how__item
                    .how__icon
                        img(src="img/icons/calendar.svg", alt="calendar")
                    .how__about
                        .name.active
                            span Тривалість модуля
                        div 2 тижні
                .how__item
                    .how__icon
                        img(src="img/icons/counting.svg", alt="counting")
                    .how__about
                        .name.active
                            span Кількість занять
                        div 6 занять в модулі
                .how__item
                    .how__icon
                        img(src="img/icons/time.svg", alt="time")
                    .how__about
                        .name.active
                            span Тривалість заняття
                        div 60–90 хвилин
        .how__body
            .how__title Як проходить навчання
            .name 
                span Формат навчання
            div Онлайн в закритій групі на Facebook
            .name
                span  Зворотній зв'язок
            div Відповіді на всі ваші питання в коментарях до кожного заняття. Щомісячні сесії питання-відповідь від наставників.
            .name
                span Підтримка і спілкування
            div  Між учасниками і кураторами в закритому <span class="desctop-br"><br></span> чаті Telegram
            .name
                span Додатково
            div Корисні матеріали до кожного заняття, домашні завдання з перевіркою, консультації, постійна підтримка, виїзди на місце, поради, вирішення проблемних питань, необхідні документи для ведення бізнесу, аудит діяльності з планом покращення.