header.header
	.wrap
		.logo
			img(src="img/logo.png", alt="logo Shostak")
		.header__social
			//- a(href="mailto:manager@solarled.com.ua" class="mail").header__mail manager@solarled.com.ua
			a(href="tel:+380976506266" class="phone") +380 97 650 6266
	