section.pay
    .wrap
        .pay__img
            img(src="img/icons/check.png", alt="check")
        .pay__title Дякуємо за оплату!
    footer.footer
        .footer__bottom
            .wrap
                .footer__item
                    div © 2020 MyKids. Всі права захищені.
                    //- div Сайт не является публичной офертой.
                //- .footer__item
                //-     a(href="#policy").modal-open Згода на обробку персональних даних
                .footer__item 
                    a(href="#") Договір публічної оферти
                .footer__item.footer__soc
                    a(href="https://nox.agency/").footer__logo 
                        span Розробка сайту
                        img(src="img/logo-nox-white.png", alt="logo")
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")