section.registration
    .wrap
        .registration__title Дякуємо за реєстрацію!
        .registration__text 
            .registration__part Обраний вами тарифний план: 
                span.registration__text-name Назва плану
            .registration__part Вартість:
                span 0000 грн
        .registration__text Щоб оплатити зараз натисніть кнопку
        a(href="#").btn.registration__btn Оплатити через
            img(src="img/icons/pay-liq-white.png" alt="pay-liq")
    include ../common/footer