section.cite
    .wrap
        .cite__title «Онлайн програма “Мій бізнес мрії” — це роками викохана, комплексна, 100% практична програма для відкриття и налагодження роботи бізнесу в дитячій сфері.
        .cite__subtitle Ми хочемо, щоб ви створили дійсно якісний, успішний и стабільно прибутковий заклад, який приноситиме вам задоволення та робитиме багатьох дітей щасливими, а освіту в Україні та світі якіснішою.»
        .cite__subtitle Галина Шостак


