section.home
    .home__wrap
        .wrap
            .home__body
                .home__pre Хочете відкрити приватний дитячий <span class="desctop-br"><br></span> освітній заклад або вдихнути нове життя в існуючий?
                .home__subtitle Комплексна онлайн програма зі створення та налагодження освітнього бізнесу — дитячого центру, садка або школи
                .home__title «ДИТЯЧИЙ бізнес мрії»
                .home__btn
                    a(href="#consult").btn.scroll-to Зареєструватись
            .home__column
                .home__text Від практика, власника дитячих садків і школи, консультанта <span class="desctop-br"><br></span>з освітніх проєктів
                    span Галини Шостак
