section.advantages
    .wrap
        .title Кожен випускник отримує
        .advantages__items
            .advantages__item
                .advantages__icon
                    img(src="img/icons/plan.svg", alt="advantages")
                .advantages__title
                    span Покроковий план відкриття 
                    | свого дитячого садка, школи або центру розвитку
            .advantages__item
                .advantages__icon
                    img(src="img/icons/file.svg", alt="advantages")
                .advantages__title Розуміння як можливо 
                    span уникнути поширених помилок
            .advantages__item
                .advantages__icon
                    img(src="img/icons/flow-chart.svg", alt="advantages")
                .advantages__title
                    span План просування 
                    | і масштабування свого бізнесу
            .advantages__item
                .advantages__icon
                    img(src="img/icons/conversation.svg", alt="advantages")
                .advantages__title
                    span Відповіді на всі хвилюючі питання: 
                    | від організаційних, до фінансових і юридичних
            .advantages__item
                .advantages__icon
                    img(src="img/icons/help.svg", alt="advantages")
                .advantages__title
                    span Постійну підтримку 
                    | наставників, колег і однодумців 
                    | в закритій групі
            .advantages__item
                .advantages__icon
                    img(src="img/icons/support.svg", alt="advantages")
                .advantages__title
                    span Можливість завести корисні зв'язки, 
                    | знайти партнерів, створити сильне 
                    | і підтримуюче оточення
        .advantages__btn
            a(href="#kviz").btn.scroll-to Зареєструвати