section.founder
    .founder__wrap
        .wrap
            .founder__video
                a(href="#" target="_blank").founder__link Познайомитися ближче
            .founder__body
                .title Галина Шостак
                .founder__subtitle Автор і наставник онлайн-програми «Дитячий бізнес мрії»
                ul.founder__items
                    li.founder__item
                        span Власниця мережі дитячих садочків Emily club 
                        | та співвласниця фізмат школи Kebeta
                    li.founder__item
                        span Практик та спеціаліст, 
                        | який допоможе в налагодженні саме дитячого освітнього бізнесу, його відкритті та систематизації
                    li.founder__item
                        span Консультант з дитячих освітніх проєктів. 
                        | За 4 роки консалтингу, вебінари, онлайн і офлайн тренінги Галини пройшло більше 1000 слухачів
                    li.founder__item
                        span Запрошений спікер і експерт 
                        | українських і зарубіжних форумів, конференцій та навчальних програм



