section.modules
    .modules__wrap
        .wrap
            .modules__maintitle Програма курсу
            .modules__body
                .tabs
                    ul.tabs__caption.modules__caption
                        li.active 
                            span Модуль 
                            | 1
                        li
                            span Модуль
                            | 2
                        li
                            span Модуль
                            | 3
                        li
                            span Модуль
                            | 4
                        li
                            span Модуль
                            | 5
                        li
                            span Модуль
                            | 6
                    .tabs__content.active
                        .modules__title Модуль 1: Відкрий!
                        .modules__main
                            .modules__items
                                .modules__subtitle Уроки:
                                .modules__item
                                    .modules__num 01
                                    .modules__text Початок
                                .modules__item
                                    .modules__num 02
                                    .modules__text Фінансові розрахунки
                                .modules__item
                                    .modules__num 03
                                    .modules__text Юридичне оформлення
                                .modules__item
                                    .modules__num 04
                                    .modules__text Маркетинг та продажі
                                .modules__item
                                    .modules__num 05
                                    .modules__text Команда
                                .modules__item
                                    .modules__num 06
                                    .modules__text Запуск та перші півроку роботи
                            .modules__items
                                .modules__subtitle Результат:
                                .modules__item-tip Запущений дитячий заклад з урахуванням усіх маркетингових, юридичних и управлінських нюансів, адекватно здійсненим фінансовим розрахунком та планом роботи на перші півроку
                        .modules-bottom
                            .modules-bottom__title Документи, які ви отримаєте до модулю:
                            .modules-bottom__list
                                ul.modules-bottom__items
                                    li Покроковий план-проєкт на 3 місяці роботи з відкриття закладу
                                    li Таблиця фін розрахунків
                                    li Шаблони документів для юридичної реєстрації бізнесу
                                    li Шаблон трудового договору і цивільно-правового договору
                                    li Посадові інструкції + результат кожної посади
                                ul.modules-bottom__items
                                    li Шаблон договору з клієнтом + анкета + правила перебування
                                    li Таблиця для маркетингового дослідження ринку
                                    li Перелік оснащення дитячого закладу
                                    li Чек-лист вимог до приміщення
                                    li Шаблон договору оренди приміщення з перевагами для орендаря
                    .tabs__content
                        .modules__title Модуль 2: Управляй!
                        .modules__main
                            .modules__items
                                .modules__subtitle Уроки:
                                .modules__item
                                    .modules__num 01
                                    .modules__text Організаційна структура
                                .modules__item
                                    .modules__num 02
                                    .modules__text Корпоративна культура і бренд роботодавця
                                .modules__item
                                    .modules__num 03
                                    .modules__text Пошук. Відбір. Навчання. Адаптація
                                .modules__item
                                    .modules__num 04
                                    .modules__text Юридичне оформлення
                                .modules__item
                                    .modules__num 05
                                    .modules__text Оплата праці
                                .modules__item
                                    .modules__num 06
                                    .modules__text Управління и делегування
                            .modules__items
                                .modules__subtitle Результат:
                                .modules__item-tip Налагоджена система управління персоналом
                                .modules__item-tip Глибоке розуміння того, як стати справжнім лідером, наставником для своєї команди професіоналів, лояльних до компанії
                                .modules__item-tip Правильно оформлені працівники
                        .modules-bottom
                            .modules-bottom__title Документи, які ви отримаєте до модулю:
                            .modules-bottom__list
                                ul.modules-bottom__items
                                    li Організаційна структура і опис посадових обов'язків, прив'язаних до результату
                                    li Штатний розпис + ринкові зарплати
                                    li Посадові інструкції + результат кожної посади (школа, садок, дитячий центр)
                                ul.modules-bottom__items
                                    li Трудовий та Цивільно-правовий договори
                                    li Таблиця нарахування зарплати
                                    li Профайл вихователя/викладача
                                    li Оцінка персоналу
                    .tabs__content
                        .modules__title Модуль 3: Маркетуй!
                        .modules__main
                            .modules__items
                                .modules__subtitle Уроки:
                                .modules__item
                                    .modules__num 01
                                    .modules__text Продукт і позиціонування
                                .modules__item
                                    .modules__num 02
                                    .modules__text Воронка продажів і оф-лайн реклама
                                .modules__item
                                    .modules__num 03
                                    .modules__text Он-лайн реклама: налаштування і контроль метрик
                                .modules__item
                                    .modules__num 04
                                    .modules__text Продажі
                                .modules__item
                                    .modules__num 05
                                    .modules__text Клієнтський сервіс
                                .modules__item
                                    .modules__num 06
                                    .modules__text Інструменти і контроль
                            .modules__items
                                .modules__subtitle Результат:
                                .modules__item-tip Розроблене позиціонування, унікальна торгова пропозиція,
                                .modules__item-tip цільова аудиторія, маркетинговий план
                                .modules__item-tip Розроблений якісний продукт для школи, садочка, дитячого центру
                                .modules__item-tip Впроваджена система контролю якості
                                .modules__item-tip Чіткий план з постійного покращення продукту
                                .modules__item-tip Орієнтація на найкращий продукт на ринку
                                .modules__item-tip Розуміння різних видів реклами і що дійсно працює в дитячому закладі
                                .modules__item-tip Детальний розбір діджитал реклами
                        .modules-bottom
                            .modules-bottom__title Документи, які ви отримаєте до модулю:
                            .modules-bottom__list
                                ul.modules-bottom__items
                                    li Шаблони аналізу рекламних компаній
                                    li Шаблон опитування клієнта на предмет задоволення якістю послуги
                                    li Скрипти продажів для продажника, для методиста/вихователя
                                ul.modules-bottom__items
                                    li Чек-лист перевірки продажника
                                    li Шаблон подій (роботи з клієнтами на рік)
                                    li Маркетинговий план на рік
                    .tabs__content
                        .modules__title Модуль 4: Прибуткуй!
                        .modules__main
                            .modules__items
                                .modules__subtitle Уроки:
                                .modules__item
                                    .modules__num 01
                                    .modules__text Особиста фінансова стратегія та перенесення її на бізнес
                                .modules__item
                                    .modules__num 02
                                    .modules__text Аналіз ситуації, активів і пасивів бізнесу
                                .modules__item
                                    .modules__num 03
                                    .modules__text Бухгалтерський,  фінансовий і управлінський облік
                                .modules__item
                                    .modules__num 04
                                    .modules__text Бюджетування і контроль виконання бюджету
                                .modules__item
                                    .modules__num 05
                                    .modules__text Впровадження основних управлінських звітів
                                .modules__item
                                    .modules__num 06
                                    .modules__text Оптимізація витрат та збільшення прибутку
                            .modules__items
                                .modules__subtitle Результат:
                                .modules__item-tip Свідоме розуміння того, що насправді відбувається з бізнесом
                                .modules__item-tip Налагоджений фінансовий та бухгалтерський облік
                                    span (ми не вчимо вас бухгалтерському обліку. Ми розглядаємо його з точки зору управлінця) 
                                .modules__item-tip Розуміння понять прибутку, рентабельності, де гроші бізнесу і скільки їх
                                .modules__item-tip Оптимізовані оподаткування, витрати і розроблений план щодо збільшення прибутку 
                                .modules__item-tip Впроваджені річне бюджетування і основні управлінські звіти
                        .modules-bottom
                            .modules-bottom__title Документи, які ви отримаєте до модулю:
                            .modules-bottom__list
                                ul.modules-bottom__items
                                    li Шаблон “Моя особиста фінансова стратегія”
                                    li Таблиця для розрахунку бюджету на рік
                                    li Шаблони трьох основних управлінських звітів
                    .tabs__content
                        .modules__title Модуль 5: Систематизуй!
                        .modules__main
                            .modules__items
                                .modules__subtitle Уроки:
                                .modules__item
                                    .modules__num 01
                                    .modules__text Аналіз ситуації в дитячому закладі. <br>Як є і як має бути
                                .modules__item
                                    .modules__num 02
                                    .modules__text Функціонал працівників. Відповідальність
                                .modules__item
                                    .modules__num 03
                                    .modules__text Регулярний менеджмент
                                .modules__item
                                    .modules__num 04
                                    .modules__text Бізнес процеси в дитячому закладі
                                .modules__item
                                    .modules__num 05
                                    .modules__text Юридична документація дитячого закладу
                                .modules__item
                                    .modules__num 06
                                    .modules__text Можливі перевірки державних органів
                            .modules__items
                                .modules__subtitle Результат:
                                .modules__item-tip Налагоджені основні бізнес процеси компанії, кожен працівник розуміє свої функції та результат, який від нього очікують
                                .modules__item-tip Немає подвоєння функцій та відповідальності 
                                .modules__item-tip Правильно оформлений бізнес, впроваджені всі необхідні документи та процеси для законної діяльності: охорона праці, пожежна безпека, виконання ліцензійних умов тощо
                                .modules__item-tip Бізнес готов зустріти перевірки 
                                .modules__item-tip Власник бізнесу поступово і комфортно може вийти з операційної діяльності
                        .modules-bottom
                            .modules-bottom__title Документи, які ви отримаєте до модулю:
                            .modules-bottom__list
                                ul.modules-bottom__items
                                    li Основні бізнес процеси
                                    li Шаблони юридичних документів (накази, інструкції, документи з пожежної безпеки і охорони праці)
                    .tabs__content
                        .modules__title Модуль 6: Гармонізуй!
                        .modules__main
                            .modules__items
                                .modules__subtitle Уроки:
                                .modules__item
                                    .modules__num 01
                                    .modules__text Чого я хочу? Місія, цінності, мрії і стратегічні цілі
                                .modules__item
                                    .modules__num 02
                                    .modules__text Де я є зараз. Детальний аналіз ситуації
                                .modules__item
                                    .modules__num 03
                                    .modules__text Цілі і план досягнення
                                .modules__item
                                    .modules__num 04
                                    .modules__text Позбуваємось зайвого
                                .modules__item
                                    .modules__num 05
                                    .modules__text Особиста ефективність власника бізнесу
                                .modules__item
                                    .modules__num 06
                                    .modules__text Time management
                            .modules__items
                                .modules__subtitle Результат:
                                .modules__item-tip Досягнення балансу Життя-Бізнес
                                .modules__item-tip Наповнене, цікаве життя. Насолода кожним днем 
                                .modules__item-tip Шлях постійного самовдосконалення та розвитку бізнесу
                        .modules-bottom
                            .modules-bottom__title Документи, які ви отримаєте до модулю:
                            .modules-bottom__list
                                ul.modules-bottom__items
                                    li Шаблон виходу з операційної діяльності
                                    li Шаблон особистого плану на рік
                                    li Шаблон для аналізу дня
