section.result
    .wrap
        .title Результат проходження онлайн програми
        .result__items
            .result__item
                .result__img
                    img(src="img/icons/case.svg", alt="case")
                .result__text
                    span Свій готовий бізнес - 
                    | дитячий заклад
            .result__item
                .result__img
                    img(src="img/icons/process.svg", alt="process")
                .result__text
                    span Налагоджені бізнес-процеси 
                    | та система продажів
            .result__item
                .result__img
                    img(src="img/icons/group.svg", alt="group")
                .result__text
                    span Сформована команда
                    | професіоналів
            .result__item
                .result__img
                    img(src="img/icons/diamond.svg", alt="diamond")
                .result__text
                    span Сильний бренд компанії 
                    | і бренд роботодавця
            .result__item
                .result__img
                    img(src="img/icons/bars.svg", alt="bars")
                .result__text
                    | Стабільний 
                    span прогнозований прибуток
            .result__item
                .result__img
                    img(src="img/icons/life-insurance.svg", alt="life-insurance")
                .result__text
                    | Юридично грамотно 
                    span оформлена діяльність
            .result__item
                .result__img
                    img(src="img/icons/flow.svg", alt="flow")
                .result__text
                    span Чітка стратегія 
                    | подальшого розвитку
            .result__item
                .result__img
                    img(src="img/icons/family.svg", alt="family")
                .result__text
                    span Гармонійне і наповнене життя 
                    | власника бізнесу
        .result__btn
            a(href="#consult" class="btn scroll-to") Хочу на програму
