footer.footer
    .wrap
        .footer__bottom 
            .footer__item
                div © 2020 MyKids. Всі права захищені.
                //- div Сайт не является публичной офертой.
            .footer__item
                a(href="#") Згода на обробку персональних даних
            .footer__item 
                a(href="#") Договір публічної оферти
            .footer__item.footer__soc

            //- .footer__item.footer__dev 
            //-     span Розробка сайту
            //-     a(href="https://nox.agency/").footer__logo 
            //-         img(src="img/logo-nox.png", alt="logo")
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")
