footer.footer
    .wrap
        .footer__top
            .logo
                img(src="img/logo.png", alt="logo Shostak")
            .footer__item.footer__soc
                a(href="https://www.instagram.com/galyna.shostak.consulting/").institutions__link-img
                    img(src="img/icons/instagram.svg", alt="instagram")
                a(href="https://www.facebook.com/galynashostakconsulting/").institutions__link-img
                    img(src="img/icons/facebook.svg", alt="facefook")
                a(href="https://www.youtube.com/channel/UC2SPG6QsZHZXCh_8_VHeWlQ").institutions__link-img
                    img(src="img/icons/youtube.svg", alt="youtube")
            .footer__pay
                .footer__pay-text Оплата можлива будь-яким зручним способом
                .footer__pay-items
                    img(src="img/icons/pay-visa.png", alt="pay-visa")
                    img(src="img/icons/pay-mc.png", alt="pay-mc")
                    img(src="img/icons/pay-liq.png", alt="pay-liq")
    .footer__bottom 
        .wrap
            .footer__item
                div © 2020 MyKids. Всі права захищені.
                //- div Сайт не является публичной офертой.
            .footer__item
                a(href="#policy").modal-open Згода на обробку персональних даних
            .footer__item 
                a(href="#") Договір публічної оферти
            .footer__item.footer__soc
                a(href="https://nox.agency/").footer__logo 
                    span Розробка сайту
                    img(src="img/logo-nox-white.png", alt="logo")
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")
