footer.footer
    .wrap
        .footer__bottom 
            .footer__item
                div © 2020 MyKids. Всі права захищені.
                //- div Сайт не является публичной офертой.
            .footer__item
                a(href="#policy").modal-open Згода на обробку персональних даних
            .footer__item 
                a(href="#") Договір публічної оферти
            .footer__item.footer__soc
                a(href="https://www.instagram.com/galyna.shostak.consulting/").institutions__link-img
                    img(src="img/icons/instagram.svg", alt="instagram")
                a(href="https://www.facebook.com/galynashostakconsulting/").institutions__link-img
                    img(src="img/icons/facebook.svg", alt="facefook")
                a(href="https://www.youtube.com/channel/UC2SPG6QsZHZXCh_8_VHeWlQ").institutions__link-img
                    img(src="img/icons/youtube.svg", alt="youtube")
                a(href="https://nox.agency/").footer__logo 
                    img(src="img/logo-nox.png", alt="logo")
            //- .footer__item.footer__dev 
            //-     span Розробка сайту
            //-     a(href="https://nox.agency/").footer__logo 
            //-         img(src="img/logo-nox.png", alt="logo")
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")
