#modalFinish.modal.disabled
    .modal__wrap.animated.fadeInDown    
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal__body-pic
            .modal__title Ваша заявка успішно відправлена
            .modal__subtitle Ми з вами зв'яжемося найближчим часом
#packagesOwner.modal.disabled
    .modal__wrap.animated.fadeInDown    
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal__header Індивідуальна робота в рамках модулів
            .modal__inner
                .modal__title 1 модуль
                p Виїзд на місце з консультацією по приміщенню і ремонту (безкоштовно в Києві, для інших міст України онлайн, або офлайн з доплатою за проїзд та проживання)
                .modal__title 2 модуль
                p Онлайн-тренінг для всього персоналу з пожежної безпеки, охорони праці та надання домедичної допомоги
                .modal__title 3 модуль
                p Індивідуальна пропрацьовка унікальних особливостей вашого дитячого закладу 
                .modal__title 4 модуль
                p Детальний розгляд та поради з оптимізації бюджету вашого закладу
                .modal__title 5 модуль
                p Експрес-аудит системності вашого закладу (не раніше ніж через рік після старту діяльності). Покроковий план щодо систематизації
#packageskouch.modal.disabled
    .modal__wrap.animated.fadeInDown    
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            .modal__header Індивідуальна робота в рамках модулів
            .modal__inner
                .modal__title 1 модуль
                ul.modal__list
                    li Здійснення фінансових розрахунків для вашого дитячого закладу
                    li Розрахунок ціни послуги з планом повернення інвестицій
                    li Допомога в виборі приміщення (+виїзд на 3 найкращі варіанти), консультація по вибору, торг, укладення договору оренди/купівлі-продажу
                    li Надання списку підрядників для ремонту. Поради щодо ремонту. <br> 2 виїзди на місце під час ремонту
                    li Надання списку необхідного оснащення, розробленого під ваш заклад
                    li Консультація з приводу юридичної реєстрації та ліцензування бізнесу, за потреби, допомога в реєстрації
                    li Проведення маркетингового аналізу ринку 
                    li Консультація з методистом. Створення розпорядку дня, розкладу занять
                .modal__title 2 модуль
                ul.modal__list
                    li Розробка оргструктури індивідуально під ваш заклад. 
                    li Формування штатного розкладу персоналу з переліком посад и зарплатами
                    li Погодження текстів вакансій. Поради з розміщення, попередній відбір. 
                    li Участь в 5 (індивідуальних чи групових) співбесідах на вибір. <br> Надання рекомендацій з вибору кандидатів
                    li Стажування 5 кандидатів на базі дитячого садочку Emily club або Кебета школи
                    li Безкоштовна участь 5 працівників в будь-яких 5 тренінгах, что проводить мережа дитячих закладів Emily club для свого персоналу
                    li Консультація по зарплатах та працевлаштуванні персоналу
                    li Онлайн-тренінг з тестуванням для всієї команди з пожежної безпеки, охорони праці і надання домедичної допомоги
                .modal__title 3 модуль
                ul.modal__list
                    li Брейншторм з Галиною Шостак і маркетологом з приводу назви і позиціонування. Пропозиції по назві
                    li Консультація та  формування особливостей закладу. Погодження унікальної торговельної пропозиції
                    li Написання маркетингового плану на 6 місяців під ваш заклад
                    li Консультація для адміністратора/менеджера з продажів зпродажу послуги й роботи з клієнтами
                    li Управління та контроль адміністратора протягом усього процесу відкриття <br> (не довше 6 місяців)
                .modal__title 4 модуль
                ul.modal__list
                    li Консультація зі створення  та поради з оптимізації бюджету вашого закладу
                    li Аналіз правильності ведення фінансового й бухгалтерського обліку фінансистом. Поради з удосконалення та оптимізації (не раніше ніж через півроку після старту діяльності)
                    li Аналіз рентабельності продуктів/послуг закладу. Рекомендації з удосконалення <br>(не раніше ніж через півроку після старту діяльності)
                .modal__title 5 модуль
                ul.modal__list
                    li Експрес-аудит  системності вашого закладу (не раніше ніж через рік після старту діяльності). Покроковий план щодо систематизації
                    li Аудит системи контролю якості продукту
                    li Аудит юридичної документації
                .modal__title 6 модуль
                ul.modal__list
                    li Консультація Галини Шостак з аналізом поточної ситуації та планом дій на наступний рік (не раніше ніж через рік після старту діяльності)
                    li Доступ до всіх 6 модулів програми
                    li Додаткові матеріали та шаблони до кожного заняття, які допомагають досягти результату
                    li Доступ в закритий чат учасників назавжди
                    li Щомісяця сесія питання-відповідь
                    li Супроводження куратора: перевірка ДЗ та зворотній зв'язок, поради щодо виконання завдань
                    li Участь в онлайн та офлайн зустрічах з власниками успішних дитячих проєктів
                    li Сертифікат участі
                    li Консультації та підтримка згідно з планом
                    li Експрес-аудит дитячого закладу 
                    li Закріплений куратор, який слідкує за вашою роботою, контролює прогрес і допомагає досягати результату
                    li Індивідуальне кураторство Галини Шостак (оперативне вирішення будь-яких питань протягом року, питання-відповіді, поради тощо)



