include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/1home
		include ../common/2achievements
		include ../common/3whom
		include ../common/4dream
		include ../common/5advantages
		include ../common/6founder
		include ../common/7how
		include ../common/8modules
		include ../common/9result
		include ../common/10cite
		include ../common/11packages
		include ../common/12institutions
		include ../common/13about
		include ../common/14action
		include ../common/15contact

		include ../common/footer
		include ../common/modal
	// END body